@charset "UTF-8"
@import compass/css3

html, body
  font-size: 16px
  background-color: #efefef

.container
  width: 100%
  max-width: 1200px

.collapse-top
  margin-top: -1rem

.container
  padding-left: 1rem
  padding-right: 1rem
.navbar
  margin-bottom: 1rem
  min-height: 2.5em
  line-height: 1em
  .navbar-nav
    margin-top: 0
    margin-bottom: 0
  .navbar-brand, li a
    padding-top: 1em
    padding-bottom: 1em
  &.medium
    &, .navbar-brand, .navbar-nav
      font-size: 1rem
    .navbar-brand, li a
      padding-top: 0.8em
      padding-bottom: 0.8em
    .navbar-brand
      line-height: 1em
      height: 2.6em
    .navbar-toggle
      margin-top: 0
      margin-bottom: 0
      height: 2.6em
  &.small
    &, .navbar-brand, .navbar-nav
      font-size: 0.9rem
    .navbar-brand, li a
      padding-top: 0.6em
      padding-bottom: 0.6em
    .navbar-brand
      line-height: 1em
      height: 2.2em
    .navbar-toggle
      margin-top: 0
      margin-bottom: 0
      height: 2.2em

.border-bottom
  border-bottom: 3px rgba(#000,0.1) solid

.badge.light
  color: rgba(#000,0.3)
  background-color: rgba(#000,0.05)