.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .Header {
    margin: 0;

    &,
    .item {
      border-radius: 0;
    }
    .logo {
      height: 2rem;
      margin: -0.5rem 0;
      img {
        height: 100%;
      }
    }
    .ui.dropdown.item {
      .inverted.menu {
        background: hsla(0,0%,30%,1);
        .item {
          color: #eee!important;
          &:hover {
            color: #fff!important;
          }
        }
      }
    }
  }

  .item, .list>.item, .items>.item {
    .image {
      border-radius: var(--icon-border-radius);
      margin: var(--icon-border-width);

      img {
        border-radius: var(--icon-border-radius);
      }
    }

    &.unlocked .image {
      box-shadow: 0 0 0 var(--icon-border-width) var(--green);
      background-image: linear-gradient(
        to bottom,
        var(--black),
        var(--deep-grey)
        );
    }

    &.locked .image {
      box-shadow: 0 0 0 var(--icon-border-width) var(--locked-border-color);
      background-image: linear-gradient(
        to bottom,
        var(--deep-grey),
        var(--grey)
        );

      img {
        opacity: 0.7;
      }
    }
  }
}
