.table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table .title,
.table td {
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  cursor: pointer;
  position: relative;
  display: table-cell;
}

.title.active svg {
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.5em);
}
