html, body {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Rosario, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsla(50,30%,98%,1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.menu ,
.ui.header {
  font-family: Rosario;
}

.ui.button.borderless {
  &,
  &:hover {
    box-shadow: none;
    border: none;
  }

  &:hover {
    background: none!important;
  }
}
