#Account {
  flex-grow: 1;
  flex-shrink: 1;
  background-image: linear-gradient(
    to bottom right,
    hsla(330, 100%, 97%, 1),
    hsla(330, 100%, 95%, 1) 10%,
    hsla(330, 80%, 97%, 1) 60%,
    hsla(330, 50%, 99%, 1)
    );

  [name='header'] {
    text-align: center;
    position: relative;
    border-top: 2px solid var(--primary-color);
    padding-bottom: 1rem;

    [name='refresh'] {
      position: absolute!important;
      top: 0;
      right: 0;

      .ui.button {
        &,
        &.loading {
          margin: 0;
        }
      }
    }
  }

  [name='content'] {
    padding: 2rem 0;

    #Overview {
      [name='node'] {
        .content::first-letter {
          text-transform: capitalize;
        }
      }
    }

    #Achievement {
      .ui.header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ui.dropdown {
          font-size: 1rem;
          font-weight: normal;
          background: none;
          border: none;
          margin: -.78571429em 0;

          .menu {
            background: hsla(0,0%,100%, 1);
            overflow-y: scroll;
            top: calc(100% - 0.15em)!important;
          }
        }
      }
    }

    #Mastery {
      .ui.header {
        .small {
          font-size: 1rem;
          font-weight: normal;
          margin-left: 0.5rem;
        }
      }

      .ui.items .item {

        .ui.image {
          width: 7rem;
          height: 7rem;

          img {
            width: 7rem;
            height: 7rem;
          }
        }
      }
    }

    #Fashion {
      .ui.block.header {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ui.horizontal.divider {
        .ui.button {
          margin-right: 0;
        }
      }

      .ui.menu .item::first-letter {
        text-transform: capitalize;
      }

      .list {

        .item {
          display: flex;
          margin-bottom: 0.5rem;
          align-items: center;

          .image {
            flex-grow: 0;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            margin-right: calc(1rem + var(--icon-border-width));

            img {
              width: 5rem;
              height: 5rem;
            }

            .label {
              font-size: 0.5rem;

              .text {
                font-size: 0.8rem;
                position: relative;
                left: -.5em;
              }
            }
          }

          .content {
            flex-grow: 1;
            flex-shrink: 1;
          }

          &.locked {
            color: var(--locked-font-color);
          }
        }
      }
    }
  }
}
