#Account {
  flex-grow: 1;
  flex-shrink: 1;
  background-image: linear-gradient(
    to bottom right,
    hsla(330, 100%, 97%, 1),
    hsla(330, 100%, 95%, 1) 10%,
    hsla(330, 80%, 97%, 1) 60%,
    hsla(330, 50%, 99%, 1)
    );

  [name='header'] {
    text-align: center;
    position: relative;
    border-top: 2px solid #e03997;
    padding-bottom: 1rem;

    [name='refresh'] {
      position: absolute!important;
      top: 0;
      right: 0;

      .ui.button {
        &,
        &.loading {
          margin: 0;
        }
      }
    }
  }

  [name='content'] {
    padding: 2rem 0;

    #Overview {
      [name='node'] {
        .content::first-letter {
          text-transform: capitalize;
        }
      }
    }

    #Achievement {
      .ui.header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ui.dropdown {
          font-size: 1rem;
          font-weight: normal;
          background: none;
          border: none;
          margin: -.78571429em 0;

          .menu {
            background: hsla(0,0%,100%, 1);
            overflow-y: scroll;
            top: calc(100% - 0.15em)!important;
          }
        }
      }
    }

    #Mastery {
      .ui.header {
        .small {
          font-size: 1rem;
          font-weight: normal;
          margin-left: 0.5rem;
        }
      }

      .ui.items .item {
        .ui.image {
          height: 100%;
          border-radius: 0.3rem;
          border: 0.2rem hsla(0,0%,0%,0.25) solid;

          .corner.label {
            font-size: 0.5rem;
          }

          img {
            border-radius: 0.2rem;
          }

          &.done {
            border-color: #21ba45;
          }
        }
      }
    }

    #Fashion {
      .ui.menu .item::first-letter {
        text-transform: capitalize;
      }

      .list {

        .item {
          display: flex;
          margin-bottom: 0.5rem;
          align-items: center;

          .image {
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            margin: 0.15rem;
            margin-right: 1.15rem;
            border-radius: 0.2rem;
            box-shadow: 0 0 0 0.15rem #21ba45;

            img {
              border-radius: 0.2rem;
            }

            .corner.label {
              font-size: 0.4rem;
            }
          }

          .content {
            flex-grow: 1;
            flex-shrink: 1;
          }
        }

        &.locked {
          color: #767676;

          .image {
            opacity: 0.5;
            box-shadow: 0 0 0 0.15rem hsla(0,0%,0%,0.25);
          }
        }

      }

    }
  }
}
